.pageStandard {
    margin: 8px auto;
    width: 1152px;
    padding: 20px;
}

.depAnalyse {
    padding: 64px;
}

.pageStandard_graph {
    margin: 8px auto;
    width: 90%;
    padding: 20px;
}

.startAnalysis_btn {
    text-align: center;
}

.results-section {
    padding: 24px;
}

.graph_dep {
    text-align: center;
}

.footer {
    text-align: center;
}

.footer svg {
    padding-left: 2px;
}

.copyright {
    font-size: xx-small;
    color: gray;
}

.solifd {
    border-top: 3px solid #bbb;
    padding-top: 20px;
    padding-bottom: 20px;
}
.space {
    height: 20px;
}
.moreSpace { 
    height: 200px;
}
.horizontal_space {
    width: 20px;
}

.spacePadding {
    padding-top: 20px;
}

.inputLevel2 {
    width: 100px;
}
.used {
    background-color: green;
}
.grey_dependency {
    background-color: #E9EAEC;
    padding: 12px
}
.white_dependency {
    padding: 5px 
}



